* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

/* Estilo da nav bar */
.navbar {
    background-color: #0066CC;
    padding: 10px;
    text-align: center;
    width: auto;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #555;
}

.table-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
    max-width: 100%;
    overflow-x: auto;
}

.table-content {
    display: inline-block;
    position: relative;
}

table {
    width: 100%; /* Garantir que a tabela ocupe 100% do espaço do wrapper */
    border-collapse: collapse;
    white-space: nowrap; /* Impede a quebra de linha nas células da tabela */
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th input,
td input {
    display: inline-block;
    vertical-align: middle;
}

th button,
td button {
    display: inline-block;
    vertical-align: middle;
}

select {
    width: 100%;
}

/* Botões */
.icon-btn {
    background: url('/assets/images/add_button.png') no-repeat center;
    background-size: contain;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.btn-remove {
    background: url('/assets/images/remove_button.png') no-repeat center;
    background-size: contain;
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    vertical-align: middle;
}

.btn-add-row {
    margin-top: 10px;
    display: block;
    position: relative;
    margin-top: 10px;
}

.btn-add-column {
    flex-shrink: 0;
}

.action-buttons {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.action-buttons button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.action-buttons button:hover {
    background-color: #0056b3;
}

.action-buttons input[type="file"] {
    display: none;
}

.action-buttons label {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.action-buttons label:hover {
    background-color: #0056b3;
}